---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1"></div>
    <div class="text-5xl font-bold">Omar Hammami</div>
    <div class="text-3xl py-3 font-bold">Machine Learning Engineer</div>
    <div class="py-2">
      <text class="text-lg">
        This is my personal website that I decided to make in aims of getting a job after graduation. 
        However I have decided that it will become something more than that, and is something that will showcase 
        my progression as a machine learning engineer, and human man.
      </text>

    </div>
    <div class="mt-8">
      <a class="btn" href="blog/about-me" target="_blank"> Little bit about me</a>
      <a href="/cv" target="_blank" class="btn btn-outline ml-5">
        show the CV no more playin around ok
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My Current Projects {"<ALL WIP>"}</div>
  </div>

  <HorizontalCard
  title="PlantTraits2024 Challenge FGVC11"
  img="/projects/plantraits.webp"
  desc="A competition to predict plant traits from images and tabular data. My implementation uses image feature extractor and FiLM blocks...will make a blog post when im done. "
  url="https://github.com/hammamiomar/plantTraits/tree/main"
  badge="NEW"
/>
<div class="divider my-0"></div>
<HorizontalCard
  title="Personal Window On Street Parking Detection Notifier"
  img="/projects/personalparking.webp"
  desc="I have a car in nyc. I would always like to have it outside my apartment, but I never know for sure when there is a spot available. So im using my old laptops camera long with some computer vision technqiues to build a personal parking notifier..."
  url="#"
  badge="NEW"
/>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
